#services{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin : 0 auto;
}

.serviceTitle{
    font-size: 3rem;
    font-weight: 600;
    /* padding-top: 3rem; */
    margin-bottom: 1.5rem;
}

section >h5{
    margin-top: 3rem;
    /* padding-top: 3rem; */
}
.serviceDesc{
    font-weight: 300;
    font-size: 1rem;
    max-width: 50rem;
    padding : 0 2rem;
}
.title{
    color :yellow;
}

.serviceBars{
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;

}

.serviceBar{
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(40, 40, 40);
    transition: all 400ms ease;
}

.serviceBar:hover{
    background:transparent;
}

.serviceBarImg{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
    margin-top: 1rem;
}

.serviceBarText>p{
     font-size: 0.9rem;
     font-weight: 200;
     margin : 5px 0;
}

@media screen and (max-width:720px){
    .serviceBarText>p{
        font-size: 2vw;
    }
}

@media screen and (max-width:480px){
    .serviceBarText>p{
        font-size: 3vw;
    }
    .serviceBarImg{
        height: 2.25rem;
        width: 2.25rem;
    }
    .serviceBarText>h2{
        font-size: 5vw;
    }
}